H1{
    text-align: center;
}
body{
    background-image: url(../Images/pizzabackgrd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    height: 300px;
    width: 300px;
    padding-bottom: 50px;
    text-align-last: center;
}

.cont{
    text-align: center;
}
.container{
    background-color: lime;
}

.inputBox{
    padding-bottom: 30px;
    padding: 1rem;
    font-size: 30pt;
    height: 5px;
    margin-block: 50px;
    width: 2rem;
    padding: 2rem;
    
}

.inputBoxx{
    text-align: center;
    text-decoration-color: orangered;
    font-size: 72pt;


}


    







